/* ==========================================================
   BODY
========================================================== */

body{

    margin:0;

    background:#0B1220;

    color:#F5F7FA;

    font-family:"Inter",sans-serif;

}